body
	background grey

#container
	position fixed
	top 0
	left 0
	width 100%
	height 100%

#sidebar
	width 250px
	background #2a2a2a
	color #aaa
	padding 5px
	margin 0
	height 100%
	position fixed
	overflow auto
	top 0
	left 0

#preview
	position fixed
	top 0
	right 0
	left 260px
	bottom 0
	overflow hidden
	pre
		margin 20px
		background whitesmoke
		box-shadow 2px 2px 10px #2a2a2a
		padding 10px