body
	background gray

#sidebar
	width 250px
	background #2a2a2a
	color #aaa
	padding 5px
	margin 0
	height 100%
	top 0
	left 0
	position fixed
	z-index 100
	
#preview_chooser
	position fixed
	top 0
	left 260px
	height 25px
	background #2a2a2a	
	width 100%
	color #ccc
	z-index 100
	
	a
		background #2a2a2a
		display inline-block
		padding 5px
		margin 0 0 0 5px
		height 15px
		color #ccc
		text-decoration none
	
		&.active
			background gray
			color #fff
			text-shadow 1px 1px 0 #000
			

#preview
	#preview_preview,
	#preview_typing,
	#preview_text
		position absolute
		background whitesmoke
		box-shadow 2px 2px 10px #2a2a2a
		padding 10px
		top 30px
		left 270px
		outline solid 1px black
	#preview_typing,
	#preview_text
		margin 0
		font-family monospace
		color #222
		display none